.container {
    min-height: 100vh;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.app-title {
    justify-content: center;
    align-items: center;
}
.add-task{
    font-size: 30px;
    height: 100px;
    background-color: salmon;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.task-title {
    padding: 10px;
}
.input-text{
    width: 50%;
    padding: 10px;
    font-size: 20px;
}

.add-btn{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff9a9e;
}

.list{
    padding-top: 20px;
    min-height: 100vh;
    background-color: rgb(228, 173, 173);
    
}

.box{
    width: 40px; 
    height: 40px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    width: 50%;
    font-size: 20px;
    color: rgb(182, 106, 56);
    background-color: white;
    padding: 10px;
}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(87, 184, 214);
}